.venv/.DS_Store
# Ignorar directorios generados automáticamente
/build/
/dist/
# Ignorar todos los archivos de log
*.log

# Ignorar directorios de configuración del IDE
.vscode/
.idea/

# Ignorar directorios de dependencias
node_modules/
vendor/

# Ignorar archivos de entorno virtual
.env
.venv/
env/
venv/

# Ignorar archivos de compilación
build/
dist/

# Ignorar archivos de sistema Mac
.DS_Store
